@import "./variable/variable.scss";
@import "./utils/utils.scss";
@import "./based/based.scss";
@import "./layout/header.scss";
@import "./layout/content.scss";
@import "./layout/modal.scss";
@import "./layout/table.scss";