@import "./variables/variables.scss";
@import "./based/based.scss";
@import "./utils/utils.scss";
@import "./layout/header.scss";
@import "./layout/banner.scss";
@import "./layout/content.scss";
@import "./layout/cart.scss";
@import "./layout/footer.scss";