.container{
  max-width: 1440px;
  margin: 0 auto;
}

@mixin respond($breakpoint){
    @if $breakpoint == xl {
    @media (max-width: 1200px) { @content; }
  } @else if $breakpoint == lg {
    @media (max-width: 992px) { @content; }
  } @else if $breakpoint == md {
    @media (max-width: 768px) { @content; }
  } @else if $breakpoint == sm {
    @media (max-width: 576px) { @content; }
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 1rem;
  @include respond(lg) {
    max-width: 992px;
  }
  @include respond(md) {
    max-width: 768px;
    padding: 0 0.75rem;
  }
  @include respond(sm) {
    max-width: 100%;
    padding: 0 0.5rem;
  }
}

.title{
  h1{
    font-size: 50px;
    letter-spacing: 1px;
  }
  p{
    color: $gray-100;
    margin: 20px 0px;
  }

  @include respond(md){
    h1{
      font-size: 60px;
    }
    p{
      font-size: 18px;
    }
  }
}