footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 40px 0px;
    background-color: $primary-300;
    color: white;
    font-weight: 400;
}