.header {
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    height: $height-5xl;
    align-items: center;
    .logo {
      font-size: $font-3xl;
      a {
        text-decoration: none;
        color: $text-primary-300;
        font-weight: $fw-bold;
      }
    }
    .menu {
      a {
        font-size: $font-xl;
        font-weight: $fw-normal;
        text-decoration: none;
        margin: 0 $m-2;
        color: $text-dark;
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $bg-primary-300;
          transform: scale(0, 0);
        }

        &:hover {
          color: $text-primary-300;
          transition: all 0.5s;
          &:after {
            transform: scale(1, 1);
            transition: all 0.5s;
          }
        }
      }
    }

    a.active {
      font-size: $font-xl;
      font-weight: $fw-normal;
      text-decoration: none;
      margin: 0 $m-2;
      color: $text-primary-300 !important;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $bg-primary-300;
        transform: scale(1, 1) !important;
      }
    }


    // burger
    .burger{
      display: none;
      background: transparent;
      border: none;
      color: $text-dark;
      font-size: 1.8rem;
      cursor: pointer;
    }

    @include respond(md){
      .burger{
        display: block;
      }
      .logo{
        font-size: $font-2xl;
      }

      .menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
        background: #fff;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
        transition: max-height 0.3s ease, opacity 0.3s ease;

        a {
          display: block;
          padding: 1rem;
          margin: 0;
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);

          &:after {
            content: "";
            position: absolute;
            bottom: -5px;
            left: 0;
            width: 100%;
            height: 3px;
            background-color: $bg-primary-300;
            transform: scaleX(0);
            transform-origin: left center;
         }
          
          &:hover {
            color: $text-primary-300;
            transition: all 0.5s;
            &:after {
              bottom: 0;
              transform: scaleX(1);
              transition: all 0.5s;
            }
          }
        }
      }
      
      .menu.active {
        max-height: 400px;
        opacity: 1;
      }
    }
  }
}
